.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    font-size: 32px;
}

.scores{
    display: flex;
    margin: 16px 0;
}

.human,
.computer{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0 100px;
}
.score-title{
    font-size: 18px;
}

.human-score,
.computer-score{
    font-size: 24px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.winner{
    font-size: 24px;
    margin: 32px 0;
}

.buttons button{
    height: 64px;
    width: 64px;
}

.computer-buttons button{
    background-color: black;
}
button.show-button{
    background-color:aqua;
}